.wrapper {
  margin: 100px auto;
  color: #61dafb;
}

.title {
  font-weight: bolder;
  font-size: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-decoration-style: none;
}

.item {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 24px;
  font-weight: bolder;
  background: white;
  padding-left: 10px;
  margin-bottom: -28px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.item:hover {
  background: #f5f5f5;
}

.left {
  display: flex;
}

.tick {
  margin: 10px 10px;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.delete {
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.inputBox {
  margin-top: 50px;
  font-size: 24px;
}

input,
button {
  line-height: 30px;
  padding: 5px;
  border-radius: 5px;

  font-size: 20px;
}

input {
  width: 200px;
  border: 1px solid #ccc;
}
button {
  width: 50px;
  box-shadow: 0 0 2px 2px rgb(104, 104, 243);
}

.doneItem > .left {
  color: red;
}

.doneItem .content {
  text-decoration-line: line-through;
}
